PORT=3100
JWT_SECRET=replace-with-a-strong-secret
JWT_EXPIRES_IN=12h
ADMIN_EMAIL=admin@quiniela.com
WINNERS_CACHE_MS=30000
FIREBASE_PROJECT_ID=quiniela-mundialista-746ab
FIREBASE_API_KEY=AIzaSyBmn1Hu69KrWM33dlhzLr3q6oDRwybiHeU

SQLSERVER_HOST=intranet.ceh2z2qop3sh.us-east-2.rds.amazonaws.com
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=intranet
SQLSERVER_USER=CaprepaDesk
SQLSERVER_PASSWORD=C4pr3p@D3sk
SQLSERVER_ENCRYPT=false
SQLSERVER_TRUST_CERT=true